.GetCustomerCoupon {
  margin: 0% 10%;
}

.GetCustomerCoupon .h3Div {
  text-align: center;
}

.GetCustomerCoupon .FormColl {
  width: 34%;
  margin: auto;
}
@media (max-width: 500px) {
  .GetCustomerCoupon {
    margin: 0% 0%;
  }
  .GetCustomerCoupon .FormColl {
    width: 100%;
  }
}
