.GetCompany .h3Div {
  text-align: center;
}

.GetCompany .FormColl {
  width: 25%;
  margin: auto;
}

@media (max-width: 500px) {
  .GetCompany .FormColl {
    width: 100%;
    margin: 0% 0%;
  }
  .GetCompany {
    margin: 0% 0%;
    width: 100%;
  }
}
