.GetCustomerCouponsByCategory {
  margin: 0% 30%;
}

.GetCustomerCouponsByCategory .h3Div {
  text-align: center;
}

.GetCustomerCouponsByCategory .FormColl {
  width: 50%;
  margin: auto;
}

@media (max-width: 500px) {
  .GetCustomerCouponsByCategory {
    margin: 0% 0%;
  }
  .GetCustomerCouponsByCategory .FormColl {
    width: 100%;
  }
}
