.PurchaseCouponDiv {
  margin: 1% 30%;
}

.PurchaseCouponDiv .h3Div {
  text-align: center;
}
.PurchaseCouponModal {
  margin: auto;
  font-weight: bold;
}

@media (max-width: 500px) {
  .PurchaseCouponDiv {
    margin: 0% 0%;
  }
}
