.DeleteCompany {
  margin: 0% 14%;
}

.DeleteCompany .FormColl {
  width: 34%;
  margin: auto;
}

.DeleteCompany .h3Div {
  text-align: center;
}
.SelectDiv {
  text-align: center;
}

@media (max-width: 500px) {
  .DeleteCompany .FormColl {
    width: 100%;
  }
}
