.GetCompanyCoupon {
  margin: 0% 10%;
}

.GetCompanyCoupon .h3Div {
  text-align: center;
}

.GetCompanyCoupon .FormColl {
  width: 34%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .GetCompanyCoupon {
    margin: 0% 0%;
  }
  .GetCompanyCoupon .FormColl {
    width: 100%;
  }
}
