.GetCompanyCouponsByMaxPrice {
  margin: 0% 0%;
}

.GetCompanyCouponsByMaxPrice .h3Div {
  text-align: center;
}

.GetCompanyCouponsByMaxPrice .innerFormDiv {
  margin: auto;
  width: 34%;
}

@media (max-width: 500px) {
  .GetCompanyCouponsByMaxPrice .innerFormDiv {
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
