.DeleteCustomer {
  margin: 0% 14%;
}
.DeleteCustomer .h3Div {
  text-align: center;
}

.DeleteCustomer .FormColl {
  width: 34%;
  margin: auto;
}

@media (max-width: 500px) {
  .DeleteCustomer .FormColl {
    width: 100%;
  }
}
