.AddCompany {
  margin: 0% 10%;
}

.AddCompany .h3Div {
  text-align: center;
}

.AddCompany .FormColl {
  width: 50%;
  margin: auto;
}

@media (max-width: 500px) {
  .AddCompany .FormColl {
    width: 100%;
  }
}
