.UpdateCouponWrapper {
  display: block;
  margin: 1% 20%;
}

.UpdateCouponFormDiv {
  display: flex;
  justify-content: center;
}
.UpdateCouponFormDivColl {
  text-align: left;
  width: 40%;
  margin-left: 5px;
}

.UpdateCoupon .h3Div {
  text-align: center;
}
.UpdateCouponFormColl {
  width: 50%;
  margin: auto;
}

.UpdateCouponFormDivColl .SmallImage img {
  height: 100px;
}
.UpdateCouponFormDivColl .SmallImage {
  display: flex;
}
