.DeleteCoupon {
  margin: 0% 5%;
}

.DeleteCoupon .h3Div {
  text-align: center;
}

.DeleteCoupon .FormColl {
  width: 40%;
  margin: auto;
}

@media (max-width: 500px) {
  .DeleteCoupon .FormColl {
    width: 100%;
  }
}
