.GetCompanyCouponsByCategoryId {
  margin: 0% 0%;
}

.GetCompanyCouponsByCategoryId .h3Div {
  text-align: center;
}

.GetCompanyCouponsByCategoryId .innerFormDiv {
  margin: auto;
  width: 34%;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .GetCompanyCouponsByCategoryId .innerFormDiv {
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
