.Menu {
  background-color: aliceblue;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-around;
}

.Menu > div {
  margin: 2px;
  height: 6vh;
  padding: 0% 2%;
}

.Menu .HoveredItem {
  background-color: lightblue;
}
