.windowDiv {
  height: 100vh;
  vertical-align: middle;
  display: flex;
}

.wrraperDiv {
  border-radius: 5px;
  width: 35%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(189, 187, 187, 0.2),
    0 3px 10px 0 rgba(83, 83, 83, 0.19);
}

.h1 {
  text-align: center;
  color: rgb(76, 75, 80);
}

.ulForm {
  width: 70%;
  margin: auto;
}

.form {
  margin: 5%;
}

.submitButton {
  margin: 10px 35%;
}

@media screen and (max-width: 800px) {
  .wrraperDiv {
    width: 90%;
  }

  .submitButton {
    margin: 10px 10px;
  }
}
